@charset "utf-8";
/* CSS Document */
html{
	overflow-y: scroll;
	overflow-x: hidden;
}
body,html{
	background:url('../images/bginside.jpg') repeat top left #f9f9f9;
	font-family: 'Roboto', sans-serif;
	top:0 !important;
}
div a, li a, .media-body a{
	text-decoration:none;
}
.logo a{
	outline:none;
	text-decoration: none;
	font-size:20px;
	font-weight:bold;
	color: #000;
	text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}
nav{
	margin-top:10px;
	position:relative;
	z-index:3;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(77,77,77,1);
	-moz-box-shadow: 0px 2px 3px 0px rgba(77,77,77,1);
	box-shadow: 0px 2px 3px 0px rgba(77,77,77,1);
}
.slider{
	border-bottom:5px solid #dc0000;
}
.nav-ul{
	margin-bottom:0px;
}
.nav-ul li{
	padding:0px;
	position:relative;
}
.nav-ul a{
	display:inline-block;
	padding:15px 23px;
	text-decoration:none;
	font-weight:500;
	color:#fff;

	-webkit-transition:all 50ms ease;
	-moz-transition:all 50ms ease;
	-ms-transition:all 50ms ease;
	-o-transition:all 50ms ease;
	transition:all 50ms ease;
}
.nav-ul li>ul{
	position:absolute;
	left:0;
	top:50px;
	background:#e10102;
	z-index:1;
	width:200px;
	display:none;
}
.nav-ul a:hover,
.nav-ul a.active{
	background:#e10102;
}
.nav-ul li>ul>li>a{
	display:block;
	padding:10px 10px;
	border-bottom:1px solid #e4ae01;
}
.nav-ul li>ul>li>a:hover{
	background:#e4ae01;
}
.nav-ul li:hover .drop_menu{
	display:block;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
/*Middle Section*/
.middle_sec{
	margin-top:-50px;
	background:#fff;
	height:auto;
	position:relative;
	z-index:2;
	padding:20px;
	margin-bottom:20px;

}
.middle_sec{
	-webkit-box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
	box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
}
.sidebar_right{
	background:#f9f9f9;
	height:auto;
	margin-bottom:20px;
}
.body-sidebar{
	padding:10px;
	border-bottom:1px solid #ccc;
}
.body-sidebar li{
	margin:10px 0;
}
.head-sidebar{
	padding:10px;
}
.head-sidebar h4{
	color:#fff;
	margin:0px;
}
.notification-list h5{
	margin-top:0px;
	margin-bottom:5px;
}
.notification-list p{
	font-size:12px;
	line-height:16px;
}
.date_published,
.notification-list{
	display:inline-block;
	vertical-align:top;
}
.date_published{
	width:19%;
	border:1px solid #eee;
	margin-right:15px;
	background:#fff;
	border-radius:6px;
	overflow:hidden;
}
.notification-list {
	width:75%;
}
.date_published .day, .date_published .month{
	padding:5px;
}
.date_published h4{
	margin:5px;
}
.notification-list p{
	margin-bottom:4px;
}
.notification-list h5 a, .notification-list p a, .read_more{
	text-decoration:none;
	color:#000;
}
.notification-list .read_more{
	display:block;
	padding:3px 10px;
	font-size:11px;
	text-align:right;
}
.date_published .month{
	background:#ccc;
}
.date_published .month span{
	font-size:11px;
	color:#fff;
}
.about_mangalore{
	position:relative;
	margin-bottom:20px;
}
.head-message h3{
	font-family: 'Montserrat', sans-serif;
	margin-top:0px;
	margin-bottom:20px;
	padding-bottom:5px;
	border-bottom:2px solid #e4ae01;
}
.item-carsouel{
	border:1px solid #ddd;
}
.scheme-name{
	border-top:1px solid #ddd;
	padding:5px 10px;
}
.red-gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fa6667+0,e10102+100 */
background: #fa6667; /* Old browsers */
background: -moz-linear-gradient(top,  #fa6667 0%, #e10102 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fa6667 0%,#e10102 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fa6667 0%,#e10102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6667', endColorstr='#e10102',GradientType=0 ); /* IE6-9 */

}
.read-alt{
	display:inline-block;
	padding:5px 10px;
	color:#fff;
	font-size:12px;
	margin-left:5px;
}
.img-carsouel {
  position: relative;
  height: 122px;
  overflow: hidden;
}
.mini-banners, .img-carsouel,.album-sec{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.latest{
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top:0;
	right:0;
	color:#fff;
	background:#e10102;
	padding:5px 10px;
	font-size:11px;
	font-weight:bold;
}
.owl-nav{
	position:absolute;
	top:-45px;
	right:10px;
}
.owl-prev, .owl-next {
  display: inline-block;
  margin-left: 10px;
}
.images-gallery{
	width:25%;
	height:300px;
	background-color:#eee;
	float:left;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.gallery{
	position:relative;
	z-index:2;
	border-bottom:5px solid #e4ae01;
}
.overlay_layer{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
}
.overlay_layer a{
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	line-height:300px;
	font-size:30px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
.alt-head h3{
	border-bottom:0;
}
.mini-carsouel-pdf{
	margin-bottom:20px;
	padding:10px 20px;
}
.web-nodes{
	background:#fff;
	border:1px solid #ddd;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(138,138,138,1);
	-moz-box-shadow: 2px 3px 5px 0px rgba(138,138,138,1);
	box-shadow: 2px 3px 5px 0px rgba(138,138,138,1);
}
.mini-carsouel-pdf a{
	text-decoration:none;
}
.links{
	display:block;
	padding:10px;
}
.links span{
	font-size:14px;
	font-weight:bold;
	color:#000;
}
.footer-sec{
	background:#2e2e2e;
}
.top-footer{
	height:auto;
	padding:15px 0;
}
.heading-footer h4 {
  color: #ccc;
}
.nav-links a{
	color:#ccc;
	text-decoration:none;
}
.bottom-footer{
	height:50px;
	background:#272727;
}
.bottom-footer p{
	margin-bottom:0;
	line-height:50px;
	color:#929292;
	font-size:12px;
}
.full-width{
	width:100%;
}
.cast-list li{
	padding-left:25px;
	background:url('../images/tick.png') no-repeat left 2px;
}
.newNotify{
	display:inline-block;
	padding:2px 5px;
	font-size:11px;
	background:#e10102;
	color:#fff;
	margin-top:3px;
}
.search_bar .form-group{
	width:80%;
}
.search_bar .form-control{
	width:100%;
}
.search_bar .form-control,.search_bar .btn{
	border-radius:0;
}
.search_bar .btn{
	color:#fff;
	border:0;
}
.social-links{
	margin-bottom:40px;
}
.social-links a{
	text-decoration:none;
	color:#fff;
	font-size:22px;
}
.pin_locale{
	width:100%;
	height:64px;
	background:url('../images/map_pin.jpg') no-repeat center #f4f4f4;
	position:relative;
}
.pin_locale a{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	line-height:64px;
	color:#fff;
	font-size:20px;
}
.list-files a,.pin_locale a{
	text-decoration:none;
}
.alt-middle-sec{
	margin-top:0;
}
.list-files li{
	padding-left:30px;
	margin-bottom:8px;
}
.list-files .pdf_versions li{
	background:url('../images/pdf.png') no-repeat left top;
}
.list-files .web_versions li{
	background:url('../images/web.png') no-repeat left top;
}
.list-files a{
	color:#000;
}
.list-files a:hover{
	color:#e10102;
}
.carousel-indicators{
	bottom:40px;
}
.nav-news i{
	margin-left:5px;
	cursor:pointer;
}
/*schemes*/
.mini-banners{
	height:200px;
	position:relative;
}
.mini-banners::after{
	position:absolute;
	content:' ';
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	z-index:1;
}
.schemes-list{
	padding:10px;
	border:1px solid #ededed;
	margin-bottom:15px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
	box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
}
.notify-details, .schemes-list{
	-webkit-box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
	box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
}
.media-left a{
	display:block;
	width:200px;
}
.pagination {
	margin:0;
}
.pagination > li > a, .pagination > li > span{
	color:#000;
}
.dynamic-cotents h1,.dynamic-cotents h2{
	font-size:18px;
}
.dynamic-cotents h3,.dynamic-cotents h4,.dynamic-cotents h5,.dynamic-cotents h6{
	font-size:15px;
}
..dynamic-cotents img{
	max-width:400px;
	margin:20px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
	box-shadow: 2px 2px 2px 0px rgba(237,237,237,1);
}
.dynamic-cotents p{
	margin-bottom:15px;
}
.dynamic-cotents  ul{
	padding:20px 25px;
	background:#f9f9f9 ;
}
.dynamic-cotents  ul li,.dynamic-cotents  ul li a	{
	color:#4e4f53;
}
.notication-sort .date_published{
	width:10%;
	margin-right:30px;
}
.notication-sort{
	background:url('../images/line.jpg') no-repeat center left;
	background-size:70%;
	margin-bottom:15px;
}
.notify-details{
	height:auto;
	border:1px solid #f3f3f3;
	background:#fff;
	display:inline-block;
	width:85%;
}
.notication-detials, .footer-notofication{
	padding:10px;
}
.notication-sort .date_published, .notify-details{
	vertical-align:middle;
}
.footer-notofication{
	padding:0;
	border-top:1px solid #ededed;
}
.footer-notofication .date-full{
	font-size:12px;
	line-height:26px;
	padding:0 10px;
	border-right:1px solid #ededed;
}
.notification-in-detail{
	margin-top:30px;
}
.album-sec{
	width:100%;
	height:250px;
	border:1px solid #ddd;
	margin-bottom:15px;
	position:relative;
}
.album-sec a{
	text-decoration:none;
}
.overlay_album{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	color:#fff;
	padding:10px;
	font-weight:500;
	display:none;

	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
.album-sec:hover > a{
	display:block;
}
.overlay_album:hover{
	color:#fff;
}
.inside-galeria .album-sec{
	height:150px;
}
.album-titles{
	padding:10px;
	background:#ededed;
	margin-bottom:20px;
}
.pdf-lg .date_published{
	margin:0px;
	position:relative;
	z-index:3;
}
.pdf-lg .notify-details{
	margin-left:-20px;
	padding-left:30px;
	width:92%;
}

.yellowGradient{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdcf3c+0,e4ae01+100 */
	background: #fdcf3c; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdcf3c 0%, #e4ae01 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fdcf3c 0%,#e4ae01 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fdcf3c 0%,#e4ae01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdcf3c', endColorstr='#e4ae01',GradientType=0 ); /* IE6-9 */
}
/*-------------------------------pagination-------------*/
.pagination li>a.current{
	background:#F0BE1F;
	color:#ffffff;
}
/*-------------------------------------------------------*/
.hostels-table{
	margin-top:30px;
}
.table{
	border:1px solid #ccc;
	text-align:center;
}
.table th, .table td{
	text-align:center;
	vertical-align:middle;
	border-right:1px solid #ccc;
}
.hostels-table>thead>tr>th, .hostels-table>tbody>tr>td{
	padding:0 !important;
	vertical-align:middle;
}
.inside-table .main-head-table{
	border-bottom:1px solid #ccc;
}
.inside-table th, .nested-table>tbody>tr>td{
	padding:6px !important;
}
.border-under > tr:nth-of-type(odd), .verical-table tr:nth-of-type(odd){
	background: #eee;
}
.border-under > tr:nth-of-type(even), .verical-table tr:nth-of-type(even){
	background: #fbfbfb;
}
.nav-tabs > li > a{
	color: #000;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:active,.nav-tabs > li.active > a:visited, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color:#e10102 ;
	outline:none;
}
.verical-table tr> th, .verical-table tr> td{
	text-align:left;
}
.schemesList .media-left a img{
	width:200px !important;
	height:100px !important;
}
.goog-te-banner-frame.skiptranslate, .goog-tooltip.skiptranslate, .goog-te-gadget-icon {display: none !important;}
.goog-te-gadget-simple{
	position:absolute;
	top:10px;
	left:10px;
	padding: 5px !important;
	border:1px solid #ccc !important;
}
.container{
	position:relative;
}
.local-search .search-bar{
	width: 33.33%;
	margin-top: -70px;
	margin-right:-18px;
	position:relative;
}
.search-bar .form-control{
	height:40px;
	border-radius: 0;
}
.search-btn{
	position:absolute;
	top:10px;
	right: 10px;
}
.pin-map{
	padding: 0;
}
.pin-head {
	padding:20px 20px 0;
}
.pin-head h3{
	color: #fff;
	border: 0;
	margin: 0;
}
#map {
  width: 100%;
  height: 400px;
}
.contact-page .tab-content{
	margin-top: 30px;
}
.contact-table tbody > tr > td {
	vertical-align:middle;
}
.report-search-bar .search-bar{
	width: 60%;
}
.report-search-bar .form-control{
	width: 30%;
	display:inline-block;
	vertical-align:middle;
}
.report-search-bar .search-btn{
	padding: 11px 11px 10px;
	background: #e10102;
	top: 0;
}
.map-s{
	height: 600px;
}
#gmap-big{
  width: 100%;
  height: 100%;
}

#controls {
  width:150px;
}
.ullist a span{
  display: inline-block;
  background: #FF5050;
  width: 70%;
  color: #fff;
  padding:10px;
}
/*-------Google search------*/
.gsc-input-box{
	height:auto !important;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2{
	width:auto !important;
	height:auto !important;
}
/*-------More Css------*/

.describe-geo{
	height: auto;
	background: #fff;
	margin-bottom: 20px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
	box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
}
.pins-area .tab-pane{
	padding-top:20px;
}
.pin-labels{
	height:auto;
	position:relative;
	background:url('../images/bg-map.jpg') no-repeat center center;
	background-size: cover;
	padding: 20px;
}
.pin-overlay{
	background:rgba(255,255,255,0.9);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;

}
.pins-labelled{
	position:relative;
	z-index: 3;
}
.map-labelled {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	text-align: left;
	width: 26.33%;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
	box-shadow: 5px 5px 10px 0px rgba(237,237,237,1);
}
.map-labelled h4{
	display:inline-block;
	vertical-align:middle;
	margin-left:15px;
}
.img-sec-inside{
	height:200px;
	border: 5px solid #ccc;
	overflow:hidden;
	margin-bottom:20px;
}
.img-sec-inside img{
	min-height:100%;
}
.facilities .items-facilities{
	display: inline-block;
	vertical-align:middle;
	padding:4px 10px;
	margin-right: 10px;
	background: #e10102;
	color: #fff;
	margin-bottom:10px;
}
.facilities{
	padding: 15px;
	background: #f4f4f4;
	border:1px solid #ddd;
}
.items-facilities i{
	margin-right: 5px;
}
.head-basic h4{
	margin: 0;
	margin-bottom:10px;
	padding-bottom:10px;
}
.pin-inside>table>.border-under>tr>td{
	text-align:left !important;
}
.carousel-control .fa, .carousel-control .fa, .carousel-control .icon-next, .carousel-control .icon-prev{
	  display: inline-block;
	  margin-top: -10px;
	  position: absolute;
	  top: 50%;
	  z-index: 5;
}

.optn-pins{
	margin-bottom:20px;
}
.optn-pins .btn-default:hover, .optn-pins .btn-default.active{
	background:#e10102 ;
	color:#fff;
}
.dynamic-cotents img{
	max-width: 100%;
}
.vMiddele td{
	vertical-align: middle !important;
}
/*-------Media Quries------*/

@media screen and (max-width: 700px) {
	.notification-list{
		width:62%;
	}
	.date_published{
		width: 30%;
	}
	.full-width{
		width: 100%;
	}
	.images-gallery{
		width: 50%;
		height:109px;
	}
	.overlay_layer a{
		line-height:209px;
	}
	.notification-list, .notication-sort .notify-details{
		width: 100%;
	}
	.pin_locale{
		height:80px;
	}
	.pin_locale a{
		padding:30px 10px;
		line-height:17px;
	}
	.local-search .search-bar, .date-full, .notify-details .read_more, .map-labelled{
		width: 100%;
		float: none !important;
	}
	.pdf-lg .notify-details{
		padding: 10px;
		margin: 0;
	}
	.date_published {
		display:none;
	}
	.date-full, .notify-details .read_more{
		margin-bottom:10px;
		display:block;
		margin-left:0;
		text-align: center;
	}
	.report-search-bar .form-control{
		width: 25%;
	}
	.logo.text-center {
	  margin-top: 52px;
	}
}
@media screen and (min-width:600px) and (max-width: 1200px) {
	.middle_sec{
		margin-top: 20px;
	}
	.date_published {
		display:none;
	}
	.notification-list{
		width: 100%;
	}
	.pdf-lg .notify-details, .notify-details{
		margin-left:0;
		width:100%;
		padding-left:0;
	}
	.pin_locale{
		height:80px;
	}
	.pin_locale a{
		padding:30px 10px;
		line-height:17px;
	}
}
@media screen and (min-width: 200px) and (max-width: 1200px) {
	.middle_sec{
		margin-top: 20px;
	}
	.nav-ul{
		position:fixed;
		top:0;
		left:-100%;
		width:70%;
		height:100%;
		overflow-y:scroll;
		overflow-x:hidden;
		background:#e4ae01;
		text-align:left;
		padding:30px 0 20px;

		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.nav-ul li, .nav-ul a{
		display:block;
	}
	.nav-ul li ul{
		position:static;
		display:block;
		padding-left: 20px;
		background: none;
	}
	.nav-ul a{
		padding:10px 20px;
	}
	.mob-menu{
		padding:5px 20px;
		font-size:20px;
		cursor:pointer;
	}
	.toggle-menu{
		left: 0 !important;
	}
}

div a, span a, td a{
	text-decoration:none !important;
}
div a:hover, span a:hover{
	color: #000;
}
td a{
	color: #e10102 ;
}
#header-sec a:hover{
	color: #fff;
}